* {
    margin: 0;
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    color: white;
    font-family: "Open Sans", sans-serif;
}
/*CSS navbar section*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    z-index: 1000;
}
.navbar-brand {
    color: white;
}
.nav-link {
    color: white;
}

/*CSS quienes-somos section*/
#quienes-somos i {
    width: 300px;
    background-color: aqua;
    padding: 1%;
    font-size: 25px;
}

/*CSS cards section*/
.card-img-top {
    max-width: 100%;
    height: 150px;

}
.card {
    padding: 0%;
    background-color: aqua;
}



