* {
    margin: 0;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    font-family: "Open Sans", sans-serif;
}

h2 {
    font-weight: 400;
}

/*CSS navbar section*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    z-index: 1000;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

/*CSS quienes-somos section*/
#quienes-somos i {
    width: 300px;
    background-color: rgb(7, 164, 192);
    padding: 1%;
    font-size: 25px;
}

/*CSS cards section*/
.card-img-top {
    max-width: 100%;
    height: 150px;
}

.card {
    padding: 0%;
    background-color: rgb(7, 164, 192);
    max-width: 250px;
    margin-right: 10px;
    margin-left: 20px;
}

/*CSS contacto section*/
.form {
    padding: 8%;
}

/*Css footer */
footer {
    background-color: rgb(7, 164, 192);
    color: white;
}

.footer-container {
    display: flex;
    padding: 15px;
}

footer p {
    font-size: 35px;
    padding-right: 28%;
    padding-left: 8%;
}

footer .icons {
    font-size: 35px;
    padding-left: 28%;
}

.icon-link {
    text-decoration: none;
    color: white;
}

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 767px) {
    .row.justify-content-center {
        text-align: center;
      }
    
      .card {
        margin-top: 10px;
      }
      h2 {
        margin-top: 10px;
      }
  }